DB_HOST=db
DB_PORT=5432
DB_NAME=contacto_db
DB_USER=postgres
DB_PASSWORD=tu_contraseña_segura

AWS_ACCESS_KEY_ID=AKIAXXXXXXXXXXXXXXXX
AWS_SECRET_ACCESS_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
AWS_SESSION_TOKEN=tu_session_token_opcional
AWS_REGION=us-east-1
S3_BUCKET_NAME=nombre-de-tu-bucket